# Backup files
*~

# Buzo Share
/share/*

# Sub-repos
/AutoSwitch
/EnchantView
/LegacyModReleases
/ThebombzenAPI
/Orange-Diff
/apt-repo
/grimoire
/Zen-GIFr
/Troll-2048

#python
__pycache__

# DBs
*.db

