@font-face {
  font-family: 'Noto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('NotoMono-Regular.woff2') format('woff2'),
    url('NotoMono-Regular.woff') format('woff'),
    url('NotoMono-Regular.ttf') format('truetype');
}
