@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600italic,700);
/* Minimal Theme designed by Artur Kim (http://arturkim.com) for Tumblr | version 1.5 */
/* Modified heavily by thebombzen */
/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* GLOBAL ELEMENTS */

body,
input,
textarea {
    color: #081F5D;
    background-color: #F8F8F8;
    font: 14px/20px "Open Sans",sans-serif;
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: 0.125px;
    font-weight: 400;
    word-wrap: break-word;
}
p,
ul,
ol,
dd,
pre {
    margin-bottom: 20px;
}
pre,
code {
    font: 12px Monaco,Courier,monospace;
    line-height: 20px;
}
blockquote {
    /*border-bottom: 1px solid #777777;*/
    margin-bottom: 5px;
    padding-bottom: 5px;
}
table {
    border: 1px solid #404040;
    border-width: 1px 1px 0 1px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 22px 0;
    text-align: left;
}
caption {
    text-align: left;
}
tr {
    border-bottom: 1px solid #404040;
}
th,
td {
    padding: .7em 1.25em;
}
hr {
    background-color: #404040;
    border: 0;
    color: #000000;
    height: 1px;
    margin-bottom: 20px;
}
a:link,
a:visited {
    color: #0F4FFF;
}
a:focus,
a:hover,
a:active {
    color: #200090;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    clear: both;
}

#about img {
    padding: 5px;
    background: #000000;
    box-shadow: inset 0px 0px 3px 3px #777777;
}

#post-notes img {
	margin-right: 10px;
}

a img:focus,
a img:hover,
a img:active {
    background: #200090;
}

/* DEFAULT CSS */

#header .menu {
    border-bottom: 1px solid #404040;
    margin: 0 auto 3px;
    overflow: hidden;
    padding: 20px 0 10px;
    width: 900px;
}
#header {
    width: 900px;
    margin: 0 auto;
}
#header #pages {
    float: left;
    width: 580px;
}
#header #pages ul {
    float: left;
    margin-bottom: 0;
}
#header #pages li {
    float: left;
    margin-right: 10px;
    padding: 4px 10px 3px 0;
}
#header #pages a,
#header #pages a:visited {
    color: #0F4FFF;
    font-size: 16px;
    text-decoration: none;
}
#header #pages a:focus,
#header #pages a:hover,
#header #pages a:active {
    color: #200090;
}
#header #search {
    float: right;
}
#header #search input {
    border: 1px solid #404040;
    line-height: 20px;
    padding: 4px;
    font-weight: 600;
}
#header #search input.search-button {
    color: #0F4FFF;
    /*width: 63px;*/
    
    padding: 5px;
}
#header #search input.search-button:hover {
    color: #200090;
}
#header #branding {
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    margin: 0 auto 3px;
    padding: 40px 0;
    width: 900px;
    text-align: center;
}
#header h1 a {
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
    text-decoration: none;
}
#header h1 a:focus,
#header h1 a:hover,
#header h1 a:active {
    color: #200090;
}
#header img {
    max-width: 900px;
}
#main {
    border-bottom: 1px solid #404040;
    clear: both;
    margin: 0 auto 3px;
    overflow: hidden;
    width: 900px;
}
#container {
    border-right: 1px solid #404040;
    float: left;
    min-height: 400px;
    width: 580px;
}
.post-meta {
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    color: #0F4FFF;
    overflow: hidden;
    padding: 9px 0;
}
.post-meta .type {
    float: left;
}
.post-meta .type a {
    font-weight: 600;
    padding: 0 10px 10px;
    text-decoration: underline;
    color: #0F4FFF;
}
.post-meta .type a:focus,
.post-meta .type a:hover,
.post-meta .type a:active {
    color: #200090;
}
.post-meta .date,
.post-meta .comments,
.post-meta .note-count {
    float: left;
    padding: 0 10px;
}
.post-content {
    padding: 10px;
    text-transform: initial;
    font-weight: 400;
}
.post-content div:last-child,
.post-content div:last-child p,
.post-content div:last-child ul,
.post-content div:last-child ol,
.post-content div:last-child blockquote {
    margin-bottom: 0;
}
.post-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.post-content a {
    text-decoration: none;
}
.post-content ol, .post-content ul, .description ol, .description ul {
    list-style: initial;
    margin-left: 5%;
    margin-right: 5%;
}
.post-content h3 a,
.post-content h3 a:visited {
    color: #0F4FFF;
}
.post-content h3 a:focus,
.post-content h3 a:hover,
.post-content h3:active {
    color: #200090;
}
.post-content img {
    margin-bottom: 20px;
}
.post-type-text .post-content ul {
    padding-left: 30px;
}
.post-type-text .post-content ul ul {
    margin-bottom: 0;
}
.post-type-text .post-content ul li {
    list-style-type: disc;
}
.post-type-text .post-content ul ul li {
    list-style-type: circle;
}
.post-type-text .post-content ol {
    padding-left: 30px;
}
.post-type-text .post-content ol ol {
    margin-bottom: 0;
}
.post-type-text .post-content ol li {
    list-style-type: upper-latin;
}
.post-type-text .post-content ol ol li {
    list-style-type: lower-latin;
}
.post-type-photoset .post-content .html_photoset {
    margin-bottom: 20px;
    padding: 10px;
}

.html_photoset {
    padding-left: 10px;
    padding-right: 10px;
    width: 540px;
}

.post-type-link .post-content .link-wrap {
    margin-bottom: 20px;
}
.post-type-chat .post-content .label {
    /*color: #FFFFFF;*/
    font-weight: 400;
}
.post-type-video .post-content .video-wrap {
    background: #000000;
    box-shadow: inset 0px 0px 3px 3px #777777;
    margin-bottom: 20px;
    padding: 5px;
}
.post-type-audio .post-content .caption {
    margin-top: 10px;
}
.tags {
    font-size: 13px;
    font-weight: 600;
}
.tags a {
    text-decoration: none;
}
.tags a:after {
    content: ",";
}
.tags a:last-child:after {
    content: "";
}
#disqus_thread {
    border-top: 1px solid #404040;
    padding: 10px 30px 0;
}
#disqus_thread h3 {
    font-size: 18px;
    margin: 20px 0 10px;
}
#dsq-content .dsq-subscribe-menu {
    font-size: 12px;
}
#post-notes {
    border-top: 1px solid #404040;
    padding: 30px;
    font-weight: 400;
}
#post-notes ol li {
    border-bottom: 1px dotted #404040;
    padding: 10px 0;
}
#post-notes ol li img {
    background: none;
    vertical-align: middle;
    margin-right: 5px;
}
.pagination {
    border-top: 1px solid #404040;
    overflow: hidden;
    padding: 20px 0;
}
.pagination .previous-page {
    float: left;
}
.pagination .next-page {
    float: right;
    margin-right: 30px;
}
.pagination a {
    font-size: 20px;
    text-decoration: none;
}
#sidebar {
    float: left;
    padding-bottom: 30px;
    width: 319px;
    border-top: 1px solid #404040;
}
#sidebar h3 {
    border-bottom: 1px dotted #404040;
    /*color: #FFFFFF;*/
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 9px 20px;
}
#sidebar h3 a,
#sidebar h3 a:visited {
    color: #0F4FFF;
    text-decoration: none;
}
#sidebar h3 a:focus,
#sidebar h3 a:hover,
#sidebar h3 a:active {
    color: #200090;
}
#sidebar ul {
    margin-bottom: 0;
}
.widget {
    border-bottom: 1px solid #404040;
    font-size: 13px;
    padding: 0 20px 20px 20px;
}
.widget h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.widget h3 a,
.widget h3 a:visited {
    color: #0F4FFF;
    text-decoration: none;
}
.widget h3 a:focus,
.widget h3 a:hover,
.widget h3 a:active {
    color: #200090;
}
.widget img {
    padding: 2px;
    max-width: 250px;
}
.widget p:last-child,
.widget ul:last-child,
.widget ol:last-child,
.widget blockquote:last-child {
    margin-bottom: 0;
}
#about {
    overflow: hidden;
    /*color: #FFFFFF;*/
    font-weight: 400;
}
#about img {
    border 0px;
    float: left;
    margin: 0 10px 0 0;
    padding: 3px;
}
.like_post {
    border-bottom: 1px dotted #404040;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.like_post:last-child {
    border: none;
    margin: 0;
    padding: 0;
}
.like_post ul {
    padding-left: 20px;
}
.like_post ul ul {
    margin-bottom: 0;
}
.like_post ul li {
    list-style-type: disc;
}
.like_post ul ul li {
    list-style-type: circle;
}
.like_post ol {
    padding-left: 20px;
}
.like_post ol ol {
    margin-bottom: 0;
}
.like_post ol li {
    list-style-type: upper-latin;
}
.like_post ol ol li {
    list-style-type: lower-latin;
}
.like_post p:last-child,
.like_post ul:last-child,
.like_post ol:last-child,
.like_post blockquote:last-child {
    margin-bottom: 0;
}

.tmblr-attribution {
	margin-top: -20px !important;
	margin-bottom: 20px !important;
}

#tweets {
    margin-bottom: 10px;
}
#tweets .content {
    margin-bottom: 10px;
}
#tweets a {
    text-decoration: none;
}
#following_container {
    overflow: hidden;
    padding-bottom: 20px;
}
#following_container li {
    display: inline;
    padding: 0;
    margin: 0;
}
#footer {
    border-top: 1px solid #404040;
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
}
#colophon {
    /*color: #FFFFFF;*/
    float: right;
    font-size: 12px;
    padding: 10px 0 20px;
}
#footer a {
    border-bottom: 1px dotted #777777;
    text-decoration: none;
}
.shrink {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
}
.photos {
    margin: 0px;
    margin-bottom: -25px;
}
.photoset-block {
	
}

.tooltip img {
	position: fixed;
	z-index: 300;
	visibility: hidden;
}

.tooltip:hover img {
	visibility: visible;
}

.description {
	margin-top: 0px;
}
